{% extends "parts/commons.twig" %}

    {% block head %}
        <link rel="stylesheet" type="text/css" href="css/institucional.css" />
    {% endblock %}

{% block main %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="institucional">Institucional</a></li>
            <li><a href="noticias">Noticias</a></li>
            <li><a href="obrasSociales">Obras sociales</a></li>
            <li><a href="profesionales">Profesionales</a></li>
            <li><a href="nuevoTurno">Sacar un turno</a></li>
            <li><a href="listaTurnos">Listados de turnos solicitados</a></li>
        </ul>
    </nav>
    <!-- Agregar imagen de casita-->
    <a href="/"></a>
    <!-- Agregar parte no genérica acá abajo-->
    <section>
        <h2>Profesionales</h2>
        {% if data %}
            {% for medico in data["medicos"] %}
                <section>
                <h3>{{ medico["apellido"] }}</h3>
                <p>Terapeuta.</p>
                <ul>
                    <li><a href="/nuevoTurno.html?medico={{ medico["id"] }}&dia=Lu">L</a></li>
                    <li><a href="/nuevoTurno.html?medico={{ medico["id"] }}&dia=Ma">M</a></li>
                    <li><a href="/nuevoTurno.html?medico={{ medico["id"] }}&dia=Mi">M</a></li>
                    <li><a href="/nuevoTurno.html?medico={{ medico["id"] }}&dia=Ju">J</a></li>
                    <li><a href="/nuevoTurno.html?medico={{ medico["id"] }}&dia=Vi">V</a></li>
                    <li><a href="/nuevoTurno.html?medico={{ medico["id"] }}&dia=Sa">S</a></li>
                    <li><a href="/nuevoTurno.html?medico={{ medico["id"] }}&dia=Do">D</a></li>
                </ul>
                <p>Horario de atención: 8:00 - 13:00</p>
                <p>Descripción</p>
                <img src="/img/Carlos.png" alt="Carlos">
                <a href="/nuevoTurno.html?medico={{ medico["id"] }}">Pedir turno</a>
            </section>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}